<div class="row mt-2">
    <div class="col-3">
        Menú
        <hr>
        <app-side-menu></app-side-menu>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>