<h1>Agregar producto</h1>
<hr>

<form [formGroup]="myForm">
    <div class="row g-3 aling-items-center mb-3">
        <div class="col-auto">
            <label>Nombre:</label>
        </div>
        <div class="col-auto">
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="col-auto">
            <span CustomLabel [color]="color" [errors]="myForm.controls['name'].errors">Algo de información</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="changeColor()" class="btn btn-primary">
                Cambiar Color
            </button>
        </div>
    </div>
</form>

<pre class="mt-5">{{myForm.controls['name'].errors | json}}</pre>
<p>color: {{color}}</p>