<h1>Mutaciones</h1>
<hr>
<div class="row">
    <div class="col-6">
        <input #txtEmail type="text" class="form-group mb-2" (input)="onFieldUpdated('email', txtEmail.value)" [value]="user().email">
        <input #txtFirstName type="text" class="form-group mb-2" (input)="onFieldUpdated('firstName', txtFirstName.value)" [value]="user().first_name">
        <input #txtLastName type="text" class="form-group mb-2" (input)="onFieldUpdated('lastName', txtLastName.value)" [value]="user().last_name">
    </div>
    <div class="col-6">
        <pre>{{user() | json}}</pre>
    </div>
</div>