<h1>counter: {{counter()}}</h1>
<hr>
<h1>SquereCounter: {{squereValue()}}</h1>
<hr>
<button (click)="increaseBy(+1)" class="btn btn-primary">+1</button> &nbsp;
<button (click)="increaseBy(-1)" class="btn btn-primary">-1</button> &nbsp;
<button (click)="counter.set(0)" class="btn btn-primary">reset</button>